<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Journey Suite" verbose="1">
    <listeners>
        <listener class-name="com.example.apiframework.journey.listener.ExtentReportListener"/>
    </listeners>
    <test name="QDE Journeys">
        <classes>
            <class name="com.example.apiframework.journey.tests.QdeJourneyTest"/>
        </classes>
    </test>
</suite>
